body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }



/* Jumbotron/ Navbar */
li {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color: #ddd;
  cursor: pointer;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .logo {
    margin-left: 1%;
  }



/*Banner*/
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/p3GjRKQ/spencer-davis-j-Z2lh-Ahy2-ZI-unsplash.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

h1, h2, p {
    color: #ddd;
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: ;
}



/*Form*/
form {
  margin-left: 40%;
  margin-right: 40%;
  width: fit-content;
  color: #ddd;
  text-shadow: 2px 2px black;
}
label {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px black;
}



/*Footer*/
footer {

}

